---
layout: metro_layout
---
<div class="page-region" >
    <div class="page-region-content">

        <h1>
            <a  href="{{ site.baseurl }}{{site.homepage}}">
                <i class="icon-arrow-left-3 fg-darker smaller"></i>
            </a>
            {{ page.title }} 
            <small class="on-right">{{ page.date | date_to_string }}</small>
        </h1>
        <!-- {{ content | toc }} -->
        <h2>Summary</h2>
        <p>
        {{page.summary}}
        </p>
		{{ content }}
    </div>
</div>

