---
layout: metro_layout
---
<div class="page secondary" >
	<div class="page-header">
        <div class="page-header-content">
            <h1> {{ page.title }} <small>{{ page.date | date_to_string }}</small></h1>
            <a class="back-button big page-back" href="{{ site.baseurl }}{{site.homepage}}"></a>
        </div>
    </div>
	<div class="page-region">
		<div class="page-region-content">
        	<p>
                <!-- {{ content | toc }} -->
                <h2>Summary</h2>
                <p>
                {{page.summary}}
                </p>
				{{ content }}
			</p>
      	</div>
    </div>
</div>

